html {
    font-family: sans-serif;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

small {
    font-size: 80%;
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea,
._txa3l,
._txa3m {
    color: inherit;
    font: inherit;
    margin: 0;
    outline: none;
}

button {
    overflow: visible;
    text-transform: none;
}

select {
    text-transform: none;
}

div#root {
    height: 100%;
    width: 100%;
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea,
._txa3l,
._txa3m {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #FFFFFF;
}

input,
button,
select,
textarea,
._txa3l,
._txa3m {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:focus {
    color: #000000;
    text-decoration: none;
    outline: none;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 6px;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #C0C0C0;
}

._bl {
    margin: 0;
    padding: 0;
}

._ro {
    margin-left: 0px;
    margin-right: 0px;
    display: flow-root;
}

._c5x31,
._c5m31,
._c5x32,
._c5m32,
._c5x33,
._c5m33,
._c5x34,
._c5m34,
._c5x35,
._c5m35,
._c5x36,
._c5m36,
._c5x37,
._c5m37,
._c5x38,
._c5m38,
._c5x39,
._c5m39,
._c5x310,
._c5m310,
._c5x311,
._c5m311,
._c5x312,
._c5m312 {
    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

._c5x31,
._c5x32,
._c5x33,
._c5x34,
._c5x35,
._c5x36,
._c5x37,
._c5x38,
._c5x39,
._c5x310,
._c5x311 {
    float: left;
}

._c5x312 {
    float: left;
    width: 100%;
}

._c5x311 {
    width: 91.66666667%;
}

._c5x310 {
    width: 83.33333333%;
}

._c5x39 {
    width: 75%;
}

._c5x38 {
    width: 66.66666667%;
}

._c5x37 {
    width: 58.33333333%;
}

._c5x36 {
    width: 50%;
}

._c5x35 {
    width: 41.66666667%;
}

._c5x34 {
    width: 33.33333333%;
}

._c5x33 {
    width: 25%;
}

._c5x32 {
    width: 16.66666667%;
}

._c5x31 {
    width: 8.33333333%;
}

._c5tx312 {
    float: left;
    height: 100%;
}

._c5tx311 {
    height: 91.66666667%;
}

._c5tx310 {
    height: 83.33333333%;
}

._c5tx39 {
    height: 75%;
}

._c5tx38 {
    height: 66.66666667%;
}

._c5tx37 {
    height: 58.33333333%;
}

._c5tx36 {
    height: 50%;
}

._c5tx35 {
    height: 41.66666667%;
}

._c5tx34 {
    height: 33.33333333%;
}

._c5tx33 {
    height: 25%;
}

._c5tx32 {
    height: 16.66666667%;
}

._c5tx31 {
    height: 8.33333333%;
}

._c5x3pl12 {
    right: 100%;
}

._c5x3pl11 {
    right: 91.66666667%;
}

._c5x3pl10 {
    right: 83.33333333%;
}

._c5x3pl9 {
    right: 75%;
}

._c5x3pl8 {
    right: 66.66666667%;
}

._c5x3pl7 {
    right: 58.33333333%;
}

._c5x3pl6 {
    right: 50%;
}

._c5x3pl5 {
    right: 41.66666667%;
}

._c5x3pl4 {
    right: 33.33333333%;
}

._c5x3pl3 {
    right: 25%;
}

._c5x3pl2 {
    right: 16.66666667%;
}

._c5x3pl1 {
    right: 8.33333333%;
}

._c5x3pl0 {
    right: auto;
}

._c5x3pu12 {
    left: 100%;
}

._c5x3pu11 {
    left: 91.66666667%;
}

._c5x3pu10 {
    left: 83.33333333%;
}

._c5x3pu9 {
    left: 75%;
}

._c5x3pu8 {
    left: 66.66666667%;
}

._c5x3pu7 {
    left: 58.33333333%;
}

._c5x3pu6 {
    left: 50%;
}

._c5x3pu5 {
    left: 41.66666667%;
}

._c5x3pu4 {
    left: 33.33333333%;
}

._c5x3pu3 {
    left: 25%;
}

._c5x3pu2 {
    left: 16.66666667%;
}

._c5x3pu1 {
    left: 8.33333333%;
}

._c5x3pu0 {
    left: auto;
}

._c5x3o12 {
    margin-left: 100%;
}

._c5x3o11 {
    margin-left: 91.66666667%;
}

._c5x3o10 {
    margin-left: 83.33333333%;
}

._c5x3o9 {
    margin-left: 75%;
}

._c5x3o8 {
    margin-left: 66.66666667%;
}

._c5x3o7 {
    margin-left: 58.33333333%;
}

._c5x3o6 {
    margin-left: 50%;
}

._c5x3o5 {
    margin-left: 41.66666667%;
}

._c5x3o4 {
    margin-left: 33.33333333%;
}

._c5x3o3 {
    margin-left: 25%;
}

._c5x3o2 {
    margin-left: 16.66666667%;
}

._c5x3o1 {
    margin-left: 8.33333333%;
}

._c5x3o0 {
    margin-left: 0%;
}

@media (min-width: 601px) {
    ._c5m31,
    ._c5m32,
    ._c5m33,
    ._c5m34,
    ._c5m35,
    ._c5m36,
    ._c5m37,
    ._c5m38,
    ._c5m39,
    ._c5m310,
    ._c5m311 {
        float: left;
    }
    ._c5m312 {
        float: left;
        width: 100%;
    }
    ._c5m311 {
        width: 91.66666667%;
    }
    ._c5m310 {
        width: 83.33333333%;
    }
    ._c5m39 {
        width: 75%;
    }
    ._c5m38 {
        width: 66.66666667%;
    }
    ._c5m37 {
        width: 58.33333333%;
    }
    ._c5m36 {
        width: 50%;
    }
    ._c5m35 {
        width: 41.66666667%;
    }
    ._c5m34 {
        width: 33.33333333%;
    }
    ._c5m33 {
        width: 25%;
    }
    ._c5m32 {
        width: 16.66666667%;
    }
    ._c5m31 {
        width: 8.33333333%;
    }
    ._c5tm312 {
        float: left;
        height: 100%;
    }
    ._c5tm311 {
        height: 91.66666667%;
    }
    ._c5tm310 {
        height: 83.33333333%;
    }
    ._c5tm39 {
        height: 75%;
    }
    ._c5tm38 {
        height: 66.66666667%;
    }
    ._c5tm37 {
        height: 58.33333333%;
    }
    ._c5tm36 {
        height: 50%;
    }
    ._c5tm35 {
        height: 41.66666667%;
    }
    ._c5tm34 {
        height: 33.33333333%;
    }
    ._c5tm33 {
        height: 25%;
    }
    ._c5tm32 {
        height: 16.66666667%;
    }
    ._c5tm31 {
        height: 8.33333333%;
    }
    ._c5m3pl12 {
        right: 100%;
    }
    ._c5m3pl11 {
        right: 91.66666667%;
    }
    ._c5m3pl10 {
        right: 83.33333333%;
    }
    ._c5m3pl9 {
        right: 75%;
    }
    ._c5m3pl8 {
        right: 66.66666667%;
    }
    ._c5m3pl7 {
        right: 58.33333333%;
    }
    ._c5m3pl6 {
        right: 50%;
    }
    ._c5m3pl5 {
        right: 41.66666667%;
    }
    ._c5m3pl4 {
        right: 33.33333333%;
    }
    ._c5m3pl3 {
        right: 25%;
    }
    ._c5m3pl2 {
        right: 16.66666667%;
    }
    ._c5m3pl1 {
        right: 8.33333333%;
    }
    ._c5m3pl0 {
        right: auto;
    }
    ._c5m3pu12 {
        left: 100%;
    }
    ._c5m3pu11 {
        left: 91.66666667%;
    }
    ._c5m3pu10 {
        left: 83.33333333%;
    }
    ._c5m3pu9 {
        left: 75%;
    }
    ._c5m3pu8 {
        left: 66.66666667%;
    }
    ._c5m3pu7 {
        left: 58.33333333%;
    }
    ._c5m3pu6 {
        left: 50%;
    }
    ._c5m3pu5 {
        left: 41.66666667%;
    }
    ._c5m3pu4 {
        left: 33.33333333%;
    }
    ._c5m3pu3 {
        left: 25%;
    }
    ._c5m3pu2 {
        left: 16.66666667%;
    }
    ._c5m3pu1 {
        left: 8.33333333%;
    }
    ._c5m3pu0 {
        left: auto;
    }
    ._c5m3o12 {
        margin-left: 100%;
    }
    ._c5m3o11 {
        margin-left: 91.66666667%;
    }
    ._c5m3o10 {
        margin-left: 83.33333333%;
    }
    ._c5m3o9 {
        margin-left: 75%;
    }
    ._c5m3o8 {
        margin-left: 66.66666667%;
    }
    ._c5m3o7 {
        margin-left: 58.33333333%;
    }
    ._c5m3o6 {
        margin-left: 50%;
    }
    ._c5m3o5 {
        margin-left: 41.66666667%;
    }
    ._c5m3o4 {
        margin-left: 33.33333333%;
    }
    ._c5m3o3 {
        margin-left: 25%;
    }
    ._c5m3o2 {
        margin-left: 16.66666667%;
    }
    ._c5m3o1 {
        margin-left: 8.33333333%;
    }
    ._c5m3o0 {
        margin-left: 0%;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

._cn {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    width: 100%;
}

._cn._cn3cl {
    flex-direction: column;
    -ms-flex-direction: column;
}

._cn.center {
    align-items: center;
}

._cn.flex-end {
    align-items: flex-end;
}

._ro:before,
._ro:after {
    content: "";
}

.clearfix:after,
._cn:after,
._ro:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

._pl5r {
    float: right !important;
}

._pl5l {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.inline {
    display: inline !important;
}

._w100 {
    width: 100%;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

.itl {
    font-style: italic;
    color: #000000;
}

._bt,
._bt3b,
._bt5m3b,
._bt5l3b,
._bt3m,
._bt5m3m,
._bt5m3w,
._bt5l3m,
._bt3g,
._bt5m3g,
._bt5l3g,
._bt3r,
._bt5m3r,
._bt5l3r,
._bt5m,
._bt5l {
    font-family: "Helvetica";
    background-color: #C0C0C0;
    font-weight: normal;
    font-size: .8em;
    color: #FFFFFF;
    width: 100%;
    padding: 3px 0px;
    border: none;
    border-radius: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
}

._bt:hover,
._bt3b:hover,
._bt5m3b:hover,
._bt5l3b:hover,
._bt3m:hover,
._bt5m3m:hover,
._bt5m3w:hover,
._bt5l3m:hover,
._bt3g:hover,
._bt5m3g:hover,
._bt5l3g:hover,
._bt3r:hover,
._bt5m3r:hover,
._bt5l3r:hover,
._bt5m:hover,
._bt5l:hover {
    background-color: #e6e6e6;
}

._bt3b,
._bt5m3b,
._bt5l3b {
    background-color: #217fbd;
}

._bt3b:hover,
._bt5m3b:hover,
._bt5l3b:hover {
    background-color: #1b6698;
}

._bt3m,
._bt5m3m,
._bt5m3w,
._bt5l3m {
    background-color: #3e9dcf;
}

._bt3m:hover,
._bt5m3m:hover,
._bt5m3w:hover,
._bt5l3m:hover {
    background-color: #f5f5f7;
}

._bt3g,
._bt5m3g,
._bt5l3g {
    background-color: #008000;
}

._bt3g:hover,
._bt5m3g:hover,
._bt5l3g:hover {
    background-color: #004d00;
}

._bt3r,
._bt5m3r,
._bt5l3r {
    background-color: #FF0000;
}

._bt3r:hover,
._bt5m3r:hover,
._bt5l3r:hover {
    background-color: #b30000;
}

._bt5m {
    font-size: 1em;
    padding: 5px 0px;
}

._bt5m3b {
    font-size: 1em;
    padding: 5px 0px;
}

._bt5m3m {
    font-size: 1em;
    padding: 5px 0px;
}

._bt5m3w {
    font-size: 1em;
    padding: 5px 0px;
    color: #3e9dcf;
    background-color: #ffffff;
}

._bt5m3g {
    font-size: 1em;
    padding: 5px 0px;
}

._bt5m3r {
    font-size: 1em;
    padding: 5px 0px;
}

._bt5l {
    font-size: 1.3em;
    padding: 8px 0px;
}

._bt5l3b {
    font-size: 1.3em;
    padding: 8px 0px;
}

._bt5l3m {
    font-size: 1.3em;
    padding: 8px 0px;
}

._bt5l3g {
    font-size: 1.3em;
    padding: 8px 0px;
}

._bt5l3r {
    font-size: 1.3em;
    padding: 8px 0px;
}

._i3so {
    border-radius: 5px;
}

._i3ci {
    border-radius: 50%;
}

._i,
._i3x,
._i3s,
._i3m,
._i3l {
    width: 100%;
    padding: 0;
    margin: 25px;
}

._i3c,
._i3xc,
._i3sc,
._i3mc,
._i3lc,
._i3xlc {
    width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

._i3x {
    width: 10px;
    height: 40px;
}

._i3xc {
    width: 10px;
    height: 40px;
}

._i3s {
    width: 20px;
    height: 20px;
}

._i3sc {
    width: 20px;
    height: 20px;
}

._i3m {
    width: 25px;
    height: 25px;
}

._i3mc {
    width: 25px;
    height: 25px;
}

._i3l {
    width: 50px;
    height: 50px;
}

._i3lc {
    width: 50px;
    height: 50px;
}

._i3xlc {
    display: block;
    width: 100px;
    height: 100px;
}

._i3pr {
    width: 50px;
    height: 50px;
    border: 1px solid #217fbd;
    object-fit: contain;
}

._i3pr5l {
    width: 100%;
    background-size: cover;
}

._i3as5l {
    width: 175px;
    height: 175px;
    background-size: cover;
}

._bo {
    font-weight: bold;
}

._it {
    font-style: italic;
}

._pd {
    padding: 0;
}

._pd3t {
    padding-top: 5px;
}

._pd3r {
    padding-right: 5px;
}

._pd3b {
    padding-bottom: 5px;
}

._pd3l {
    padding-left: 5px;
}

._pd3tb {
    padding-top: 5px;
    padding-right: 5px;
}

._pd3lr {
    padding-left: 5px;
    padding-right: 5px;
}

._pd3a {
    padding: 5px;
}

._pd3m3t {
    padding-top: 10px;
}

._pd3m3r {
    padding-right: 10px;
}

._pd3m3b {
    padding-bottom: 10px;
}

._pd3m3l {
    padding-left: 10px;
}

._pd3m3tb {
    padding-top: 10px;
    padding-right: 10px;
}

._pd3m3lr {
    padding-left: 10px;
    padding-right: 10px;
}

._pd3m3a {
    padding: 10px;
}

._pd3l3t {
    padding-top: 15px;
}

._pd3l3r {
    padding-right: 15px;
}

._pd3l3b {
    padding-bottom: 15px;
}

._pd3l3l {
    padding-left: 15px;
}

._pd3l3tb {
    padding-top: 15px;
    padding-bottom: 15px;
}

._pd3l3lr {
    padding-left: 15px;
    padding-right: 15px;
}

._pd3l3a {
    padding: 15px;
}

._pd3xl3t {
    padding-top: 20px;
}

._pd3xl3r {
    padding-right: 20px;
}

._pd3xl3b {
    padding-bottom: 20px;
}

._pd3xl3l {
    padding-left: 20px;
}

._pd3xl3tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

._pd3xl3lr {
    padding-left: 20px;
    padding-right: 20px;
}

._pd3xl3a {
    padding: 20px;
}

._pd3n3t {
    padding-top: 0px;
}

._pd3n3r {
    padding-right: 0px;
}

._pd3n3b {
    padding-bottom: 0px !important;
}

._pd3n3l {
    padding-left: 0px;
}

._pd3n3tb {
    padding-top: 0px;
    padding-bottom: 0px;
}

._pd3n3lr {
    padding-left: 0px;
    padding-right: 0px;
}

._pd3n3a {
    padding: 0px;
}

._ma {
    margin: 0 !important;
}

._ma3t {
    margin-top: 5px;
}

._ma3r {
    margin-right: 5px;
}

._ma3b {
    margin-bottom: 5px;
}

._ma3l {
    margin-left: 5px;
}

._ma3tb {
    margin-top: 5px;
    margin-right: 5px;
}

._ma3lr {
    margin-left: 5px;
    margin-right: 5px;
}

._ma3a {
    margin: 5px;
}

._ma3m3t {
    margin-top: 10px;
}

._ma3m3r {
    margin-right: 10px;
}

._ma3m3b {
    margin-bottom: 10px;
}

._ma3m3l {
    margin-left: 10px;
}

._ma3m3tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

._ma3m3lr {
    margin-left: 10px;
    margin-right: 10px;
}

._ma3m3a {
    margin: 10px;
}

._ma3l3t {
    margin-top: 15px;
}

._ma3l3r {
    margin-right: 15px;
}

._ma3l3b {
    margin-bottom: 15px;
}

._ma3l3l {
    margin-left: 15px;
}

._ma3l3tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

._ma3l3lr {
    margin-left: 15px;
    margin-right: 15px;
}

._ma3l3a {
    margin: 15px;
}

._ma3xl3t {
    margin-top: 20px;
}

._ma3xl3r {
    margin-right: 20px;
}

._ma3xl3b {
    margin-bottom: 20px;
}

._ma3xl3l {
    margin-left: 20px;
}

._ma3xl3tb {
    margin-top: 20px;
    margin-right: 20px;
}

._ma3xl3lr {
    margin-left: 20px;
    margin-right: 20px;
}

._ma3xl3a {
    margin: 20px;
}

._ma3n3t {
    margin-top: 0px;
}

._ma3n3r {
    margin-right: 0px;
}

._ma3n3b {
    margin-bottom: 0px;
}

._ma3n3l {
    margin-left: 0px;
}

._ma3n3tb {
    margin-top: 0px;
    margin-right: 0px;
}

._ma3n3lr {
    margin-left: 0px;
    margin-right: 0px;
}

._ma3n3a {
    margin: 0px;
}

._ct,
._ct3s,
._ct3m,
._ct3b,
._ct3w,
._ct3x,
._ct3xs,
._ct3xm,
._ct3xb,
._ct3xw,
._ct3ms,
._ct3mm,
._ct3mb,
._ct3mw,
._tb th,
._tb td,
._tb3g th,
._tb3g34 th,
._tb3g343l th,
._tb3g353l th,
._tb3g36 th,
._tb3g td,
._tb3g34 td,
._tb3g343l td,
._tb3g353l td,
._tb3g36 td {
    font-family: "PT Sans";
    font-size: 1.0em;
    color: #000000;
    padding: 0;
    margin: 0;
    line-height: 15px;
}

._ct3s {
    color: #C0C0C0;
}

._ct3m {
    color: #3e9dcf;
}

._ct3b {
    color: #217fbd;
}

._ct3w {
    color: #ffffff;
}

._ct3x {
    font-size: .8em;
}

._ct3xs {
    color: #C0C0C0;
    font-size: .8em;
}

._ct3xm {
    color: #3e9dcf;
    font-size: .8em;
}

._ct3xb {
    color: #217fbd;
    font-size: .8em;
}

._ct3xw {
    color: #ffffff;
    font-size: .8em;
}

._ct3m {
    color: #000000;
    font-size: 1em;
}

._ct3ms {
    color: #C0C0C0;
    font-size: 1em;
}

._ct3mm {
    color: #3e9dcf;
    font-size: 1em;
}

._ct3mb {
    color: #217fbd;
    font-size: 1em;
}

._ct3mw {
    color: #ffffff;
    font-size: 1em;
}

._dn {
    display: none;
}

._db {
    display: block;
}

._el3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._pd3cl {
    padding-left: 15px;
}

._pd3cr {
    padding-right: 15px;
}

@media (min-width: 992px) {
    ._pd3cl {
        padding-left: 80px;
    }
}

._bo {
    font-weight: bold;
}

._it {
    font-style: italic;
}

._pd {
    padding: 0;
}

._pd3t {
    padding-top: 5px;
}

._pd3r {
    padding-right: 5px;
}

._pd3b {
    padding-bottom: 5px;
}

._pd3l {
    padding-left: 5px;
}

._pd3tb {
    padding-top: 5px;
    padding-right: 5px;
}

._pd3lr {
    padding-left: 5px;
    padding-right: 5px;
}

._pd3a {
    padding: 5px;
}

._pd3m3t {
    padding-top: 10px;
}

._pd3m3r {
    padding-right: 10px;
}

._pd3m3b {
    padding-bottom: 10px;
}

._pd3m3l {
    padding-left: 10px;
}

._pd3m3tb {
    padding-top: 10px;
    padding-right: 10px;
}

._pd3m3lr {
    padding-left: 10px;
    padding-right: 10px;
}

._pd3m3a {
    padding: 10px;
}

._pd3l3t {
    padding-top: 15px;
}

._pd3l3r {
    padding-right: 15px;
}

._pd3l3b {
    padding-bottom: 15px;
}

._pd3l3l {
    padding-left: 15px;
}

._pd3l3tb {
    padding-top: 15px;
    padding-bottom: 15px;
}

._pd3l3lr {
    padding-left: 15px;
    padding-right: 15px;
}

._pd3l3a {
    padding: 15px;
}

._pd3xl3t {
    padding-top: 20px;
}

._pd3xl3r {
    padding-right: 20px;
}

._pd3xl3b {
    padding-bottom: 20px;
}

._pd3xl3l {
    padding-left: 20px;
}

._pd3xl3tb {
    padding-top: 20px;
    padding-bottom: 20px;
}

._pd3xl3lr {
    padding-left: 20px;
    padding-right: 20px;
}

._pd3xl3a {
    padding: 20px;
}

._pd3n3t {
    padding-top: 0px;
}

._pd3n3r {
    padding-right: 0px;
}

._pd3n3b {
    padding-bottom: 0px !important;
}

._pd3n3l {
    padding-left: 0px;
}

._pd3n3tb {
    padding-top: 0px;
    padding-bottom: 0px;
}

._pd3n3lr {
    padding-left: 0px;
    padding-right: 0px;
}

._pd3n3a {
    padding: 0px;
}

._ma {
    margin: 0 !important;
}

._ma3t {
    margin-top: 5px;
}

._ma3r {
    margin-right: 5px;
}

._ma3b {
    margin-bottom: 5px;
}

._ma3l {
    margin-left: 5px;
}

._ma3tb {
    margin-top: 5px;
    margin-right: 5px;
}

._ma3lr {
    margin-left: 5px;
    margin-right: 5px;
}

._ma3a {
    margin: 5px;
}

._ma3m3t {
    margin-top: 10px;
}

._ma3m3r {
    margin-right: 10px;
}

._ma3m3b {
    margin-bottom: 10px;
}

._ma3m3l {
    margin-left: 10px;
}

._ma3m3tb {
    margin-top: 10px;
    margin-bottom: 10px;
}

._ma3m3lr {
    margin-left: 10px;
    margin-right: 10px;
}

._ma3m3a {
    margin: 10px;
}

._ma3l3t {
    margin-top: 15px;
}

._ma3l3r {
    margin-right: 15px;
}

._ma3l3b {
    margin-bottom: 15px;
}

._ma3l3l {
    margin-left: 15px;
}

._ma3l3tb {
    margin-top: 15px;
    margin-bottom: 15px;
}

._ma3l3lr {
    margin-left: 15px;
    margin-right: 15px;
}

._ma3l3a {
    margin: 15px;
}

._ma3xl3t {
    margin-top: 20px;
}

._ma3xl3r {
    margin-right: 20px;
}

._ma3xl3b {
    margin-bottom: 20px;
}

._ma3xl3l {
    margin-left: 20px;
}

._ma3xl3tb {
    margin-top: 20px;
    margin-right: 20px;
}

._ma3xl3lr {
    margin-left: 20px;
    margin-right: 20px;
}

._ma3xl3a {
    margin: 20px;
}

._ma3n3t {
    margin-top: 0px;
}

._ma3n3r {
    margin-right: 0px;
}

._ma3n3b {
    margin-bottom: 0px;
}

._ma3n3l {
    margin-left: 0px;
}

._ma3n3tb {
    margin-top: 0px;
    margin-right: 0px;
}

._ma3n3lr {
    margin-left: 0px;
    margin-right: 0px;
}

._ma3n3a {
    margin: 0px;
}

._ct,
._ct3s,
._ct3m,
._ct3b,
._ct3w,
._ct3x,
._ct3xs,
._ct3xm,
._ct3xb,
._ct3xw,
._ct3ms,
._ct3mm,
._ct3mb,
._ct3mw,
._tb th,
._tb td,
._tb3g th,
._tb3g34 th,
._tb3g343l th,
._tb3g353l th,
._tb3g36 th,
._tb3g td,
._tb3g34 td,
._tb3g343l td,
._tb3g353l td,
._tb3g36 td {
    font-family: "PT Sans";
    font-size: 1.0em;
    color: #000000;
    padding: 0;
    margin: 0;
    line-height: 15px;
}

._ct3s {
    color: #C0C0C0;
}

._ct3m {
    color: #3e9dcf;
}

._ct3b {
    color: #217fbd;
}

._ct3w {
    color: #ffffff;
}

._ct3x {
    font-size: .8em;
}

._ct3xs {
    color: #C0C0C0;
    font-size: .8em;
}

._ct3xm {
    color: #3e9dcf;
    font-size: .8em;
}

._ct3xb {
    color: #217fbd;
    font-size: .8em;
}

._ct3xw {
    color: #ffffff;
    font-size: .8em;
}

._ct3m {
    color: #000000;
    font-size: 1em;
}

._ct3ms {
    color: #C0C0C0;
    font-size: 1em;
}

._ct3mm {
    color: #3e9dcf;
    font-size: 1em;
}

._ct3mb {
    color: #217fbd;
    font-size: 1em;
}

._ct3mw {
    color: #ffffff;
    font-size: 1em;
}

._dn {
    display: none;
}

._db {
    display: block;
}

._el3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._pd3cl {
    padding-left: 15px;
}

._pd3cr {
    padding-right: 15px;
}

@media (min-width: 992px) {
    ._pd3cl {
        padding-left: 80px;
    }
}

._tb {
    border-collapse: separate;
    width: 100%;
}

._tb th {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #3e9dcf;
    padding: 5px;
    border-left: 1px solid #3e9dcf;
    border-top: none;
}

._tb td {
    font-size: .8em;
    text-align: center;
    color: #000000;
    padding: 10px;
    border-left: 1px solid #3e9dcf;
    margin-top: 3px;
    margin-bottom: 3px;
}

._tb td:first-child,
._tb th:first-child {
    border-left: none;
}

._tb3g,
._tb3g34,
._tb3g343l,
._tb3g353l,
._tb3g36 {
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
}

._tb3g th,
._tb3g34 th,
._tb3g343l th,
._tb3g353l th,
._tb3g36 th {
    color: #000000;
    text-align: left;
    border-bottom: 1px solid #C0C0C0;
    font-weight: bold;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

._tb3g td,
._tb3g34 td,
._tb3g343l td,
._tb3g353l td,
._tb3g36 td {
    text-align: left;
    font-size: .9em;
    color: #C0C0C0;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #C0C0C0;
}

._tb3g th,
._tb3g34 th,
._tb3g343l th,
._tb3g353l th,
._tb3g36 th,
._tb3g td,
._tb3g34 td,
._tb3g343l td,
._tb3g353l td,
._tb3g36 td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

._tb3g td:first-child,
._tb3g34 td:first-child,
._tb3g343l td:first-child,
._tb3g353l td:first-child,
._tb3g36 td:first-child,
._tb3g th:first-child,
._tb3g34 th:first-child,
._tb3g343l th:first-child,
._tb3g353l th:first-child,
._tb3g36 th:first-child {
    width: 60%;
}

._tb3g34 td:first-child,
._tb3g34 th:first-child {
    width: 20%;
}

._tb3g34 td:last-child,
._tb3g34 th:last-child {
    width: 20%;
}

._tb3g343l td:first-child,
._tb3g343l th:first-child {
    width: 10%;
}

._tb3g343l td:last-child,
._tb3g343l th:last-child {
    width: 20%;
}

._tb3g353l td:first-child,
._tb3g353l th:first-child {
    width: 10%;
}

._tb3g353l td:last-child,
._tb3g353l th:last-child {
    width: 20%;
}

._tb3g36 td:first-child,
._tb3g36 th:first-child {
    width: 10%;
}

._tb3g36 td:last-child,
._tb3g36 th:last-child {
    width: 20%;
}

._tb3g36 td:nth-child(5),
._tb3g36 th:nth-child(5) {
    width: 10%;
}

._ic3l,
._ic3l5w,
._ic3lm {
    font-size: 2em;
    margin: auto;
    display: inline-block;
}

._ic3l5w {
    color: #ffffff;
}

._ic3lm {
    margin-top: 0px;
    color: #3e9dcf;
    position: absolute;
    right: 35px;
    top: 40%;
    padding-right: 5px;
}

._fx {
    position: fixed;
    max-height: 100%;
}

select,
input[type="text"],
textarea,
._txa3l,
._txa3m,
input[type="email"],
input[type="password"] {
    background-color: transparent !important;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    padding: 10px 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: normal;
}

 :-ms-input-placeholder {
    color: #ffffff;
}

 ::-moz-placeholder {
    color: #ffffff;
}

 ::-webkit-input-placeholder {
    color: #ffffff;
}

select:focus,
input[type="checkbox"]:focus,
input[type="text"]:focus,
textarea:focus,
._txa3l:focus,
._txa3m:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 5px solid white;
}

textarea,
._txa3l,
._txa3m {
    max-height: 225px;
    resize: vertical;
    overflow: auto;
}

._txa3m {
    background-color: #ffffff !important;
    margin-top: 15px;
    padding: 15px 15px 15px 15px;
    height: 120px;
    border: 2px solid !important;
    border-color: #3e9dcf !important;
    border-radius: 10px;
}

._txa3l,
._txa3m {
    height: 50px;
    resize: vertical;
    overflow: auto;
}

._cn input[type="password"] {
    padding-right: 36px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

._bl {
    padding: 0;
    height: 100%;
}

._ov3y,
._ov3y5m,
._ov3y5l {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 300px;
}

._ov3y5m {
    max-height: 225px;
}

._ov3y5l {
    max-height: 500px;
}

._cn5g {
    position: relative;
}

._cn5g i[class="fa fa-eye"] {
    position: absolute;
    top: 35%;
    right: 15px;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.2em;
    cursor: pointer;
}

._cn5g i[class="fa fa-eye"]:hover {
    color: #e6e6e6;
}

._cb {
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 485px;
}

._he,
._he3m,
._he3sb,
._he3sb5r,
._he3s,
._he3s5r {
    font-family: "PT Sans";
    font-size: 2.2em;
    color: #ffffff;
    border: none;
    font-weight: normal;
    margin: 0px;
}

._he3m {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.8em;
}

._he3sb,
._he3sb5r {
    font-weight: bold;
    font-size: .9em;
    color: #000000;
}

._he3sb5r {
    text-align: right;
}

._he3s,
._he3s5r {
    padding-top: 5px;
    font-size: .9em;
    color: #C0C0C0;
}

._he3s5r {
    text-align: right;
}

._ln5w h2:after {
    text-align: left;
    content: " ";
    width: 50px;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 10px 0px 20px 0px;
}

._f5a {
    height: 100%;
    background: url("/img/BG.png");
    background-size: cover;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    height: -ms-fill-available;
    height: fill-available;
}

._f5b {
    height: 100px;
    background: url("/img/BG.png");
    background-size: cover;
}

._f5c {
    background: #3e9dcf;
    background: -webkit-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: -moz-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: -o-linear-gradient(45deg, #3e9dcf, #0487b3);
    background: linear-gradient(45deg, #3e9dcf, #0487b3);
}

._n {
    width: 250px;
    box-sizing: border-box;
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    z-index: 10;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #ffffff;
    /* Safari and Chrome */
}

._n li {
    padding: 15px;
}

._n li a {
    text-decoration: none;
    color: #FF00FF;
    text-align: center;
    font-size: 25px;
}

._n li a i {
    text-align: center;
}

._n li:hover {
    color: #FF00FF;
    background-color: #800080;
}

._n li ._n3a {
    color: #FF00FF;
    background-color: #800080;
}

._n51 {
    height: 75%;
}

._n52 {
    height: 25%;
}

._cn5n:hover ._n {
    left: 0;
}

._se {
    margin-left: 0px;
    margin-right: 0px;
}

._se ._se5t {
    font-size: .9em;
}

._se ._se5ct {
    font-size: .9em;
}

._se ._se5c {
    font-size: .9em;
}

._se ._se5m {
    font-size: .9em;
}

._se ._se5xl {
    font-size: 1.5em;
}

._d5ab {
    font-size: .8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 601px) {
    ._pdx3n {
        padding-left: 0;
        padding-right: 0;
    }
    ._tb3g5p th {
        padding: 5px;
        font-size: .8em;
    }
    ._tb3g5p td {
        padding: 5px;
        font-size: .7em;
    }
    ._f5a ._bl5d {
        height: auto;
        padding-top: 180px;
    }
    ._f5c ._bl5d {
        margin: auto;
        max-width: 500px;
    }
    ._ch3a,
    ._ch,
    ._ch3a,
    ._ch3b {
        max-width: 80%;
    }
}

@media (min-width: 601px) {
    ._f5a ._bl5d {
        height: auto;
        margin-top: 220px;
    }
    ._f5c ._bl5d {
        margin: auto;
        max-width: 500px;
    }
    ._ch3a,
    ._ch,
    ._ch3a,
    ._ch3b {
        max-width: 60%;
    }
}

._ch,
._ch3a,
._ch3b {
    padding: 10px;
    margin: 5px;
    border-radius: 7px;
}

._ch ._he3sb,
._ch3a ._he3sb,
._ch3b ._he3sb,
._ch ._he3sb5r,
._ch3a ._he3sb5r,
._ch3b ._he3sb5r {
    color: #ffffff;
}

._ch ._he3s,
._ch3a ._he3s,
._ch3b ._he3s,
._ch ._he3s5r,
._ch3a ._he3s5r,
._ch3b ._he3s5r {
    font-size: 1em;
    color: #ffffff;
}

._ch3ms {
    background-color: #f5f5f7;
}

._ch3a {
    border: #e6e6e6 solid 1px;
    margin-left: 0px;
    margin-right: 50px;
    background-color: #FFFFFF;
}

._ch3a p {
    color: #000000;
}

._ch3b {
    margin-left: 50px;
    margin-right: 0px;
    background-color: #3e9dcf;
}

div._ch5w {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -webkit-padding-start: 20px;
    margin-bottom: 5px;
}

div._ch5w::-webkit-scrollbar {
    display: none;
}

div._ch5w:first-child {
    margin-left: 20px;
}

._ch3c {
    width: auto;
    padding: 0 0 0 0;
    margin: 10px 10px 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #ffffff;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    width: 175px;
}

._ch3c ._bio {
    padding: 0;
    margin: 0;
}

._ch3c ._bio span {
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #e6e6e6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

._ch3c ._bio span:last-child {
    border-bottom: none;
}

._ch3d {
    padding: 0px;
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
}

._ch3d>header {
    margin: 0;
    padding: 10px;
    background-color: #e6e6e6;
}

._ch3d>header h4 {
    margin: 0;
    color: #000000;
    font-size: 1em;
    font-weight: 500;
}

._ch3d ._pd3m3a {
    border-bottom: 1px solid #C0C0C0;
}

._ch3d ._pd3m3a:last-child {
    border-bottom: none;
}

._ch3d ._wh5mw {
    max-width: 200px;
}

._ch3e {
    padding: 0px;
    border-radius: 10px;
    background-color: #3e9dcf;
    list-style-type: none;
    text-align: left;
    max-width: 90%;
    margin: 0;
}

._ch3e tr {
    color: #ffffff;
}

._ch3e tr:last-child {
    border-bottom: none;
}

._ch3e td {
    padding: 10px;
    border-bottom: 1px solid #ffffff;
    font-size: 1.1em;
}

._ch3e td:last-child {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    width: auto;
    white-space: nowrap;
}

._ch3f {
    padding: 0px 10px;
    margin: 10px 10px 0px 0px;
    flex: 0 0 auto;
    max-width: 150px;
    border-radius: 10px;
    background-color: #b9b9b9;
    list-style-type: none;
    text-align: left;
}

._ch3f h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
    color: #3e9dcf;
}

._ch3f h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    color: #ffffff;
}

._ch3f h5 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #ffffff;
}

._ch3f h6 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 300;
}

@media (min-width: 992px) {
    ._ch3f h3 {
        font-size: 2em;
    }
    ._ch3f h4 {
        font-size: 1.3em;
    }
    ._ch3f h5 {
        font-size: 1.1em;
    }
}

._ch3g {
    padding: 0;
    margin: 10px 10px 0px 0px;
    border-radius: 10px;
    background-color: #b9b9b9;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
}

._ch3g h3 {
    padding: 5px 0px 0px 0px;
    margin-bottom: 0px;
    height: 30px;
    background-color: #3e9dcf;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

._ch3g h4 {
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: 500;
}

._ch3g h5 {
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 1em;
    font-weight: normal;
}

._ch3g h6 {
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: normal;
}

._ch3bd {
    border-color: #e6e6e6;
    border-style: solid none none none;
    border-width: 2px;
    padding: 15px 20px;
    font-family: "PT Sans";
    font-size: 1.2em;
}

._ch3bd ._ch3m {
    width: 100%;
    overflow-y: auto;
    padding: 0;
    position: relative;
    max-height: 100px;
    border: none;
    outline: none;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

._w3wr,
._ch3e tr,
._cn>._ch3cnt {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._cn>._ch3hdr {
    order: 0;
}

._cn>._ch3cnt {
    order: 1;
    position: relative;
    overflow-y: auto;
}

._cn>._ch3ftr {
    order: 2;
}

._ch3pn {
    flex: 0 0 auto;
}

._ch3pn._emt {
    display: -webkit-flex;
    display: flex;
    flex: 1 1 auto;
}

._sd5ft {
    text-align: center;
    padding: 10px 0;
    border-style: solid none;
    border-width: 1px;
    border-color: #C0C0C0;
    color: #C0C0C0;
}

#__ch3sb {
    line-height: 0;
}

#__ch3sb:active {
    opacity: 0.6;
}

._mx3s {
    max-width: 30%;
}

.width-200px {
    max-width: 200px;
}

.width-100px {
    max-width: 100px;
}

._he5mx {
    height: 100%;
}

._wi5mx {
    width: 100%;
}

.wh5mx {
    height: 100%;
    width: 100%;
}

._he5a {
    height: auto;
}

._wh5a {
    width: auto;
}

._wh5a {
    height: auto;
    width: auto;
}

._fx5mx {
    flex: 0 0 auto;
}

._fx5mn {
    flex: 1 1 auto;
}

._fx5n {
    flex: none;
}

.ta5c {
    text-align: center;
}

.overlay {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: 0.2s opacity, 0s visibility;
}

._cn5n:hover~.overlay {
    transition-delay: 0.05s;
    visibility: visible;
    opacity: 0.7;
}

.LoadingBar {
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    position: fixed;
    top: 0;
    background: #1AF184;
    height: 3px;
    opacity: 1;
    z-index: 100;
}

.LoadingBar-glow {
    top: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    box-shadow: -3px 0 15px 1px rgba(0, 255, 231, 0.4);
}

.LoadingBar--to_right {
    left: 0;
}

.LoadingBar--to_right .LoadingBar-glow {
    right: 0;
}

.LoadingBar--to_left {
    right: 0;
}

.LoadingBar--to_left .LoadingBar-glow {
    left: 0;
}

.LoadingBar--full {
    transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    height: 0;
    opacity: 0;
}

.LoadingBar--error {
    background: #F44336;
}

.LoadingBar--error .LoadingBar-glow {
    box-shadow: -3px 0 15px 1px rgba(244, 67, 54, 0.4);
}

._erm5cn {
    width: 100%;
    margin: 0;
    padding: 8px;
    position: fixed;
    transition: 0.7s top;
}

._erm5cn>span {
    margin: 0;
    background-color: #f5f5f7;
    padding: 15px;
    border-radius: 5px;
    display: block;
}

._erm5cn>span p {
    margin: auto;
    padding: 0;
    text-align: center;
}